@use "variables" as *;

  .inicio-section {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }

  .inicio-section img {
    margin: 20px auto;
    display: block;
    border-radius: $radius-general;
    width: 300px;
    height: auto;

  }

  .inicio-video {
    width: 50%;
    max-width: 800px;
    height: auto;
    border-radius: $radius-general;
    display: block;
    aspect-ratio: 21 / 9;
    padding: 40px;
    margin: auto;
  }

  .inicio-section h3 {
    color: $color-subtitulo;
    padding: 20px;
    font-family: $font-titulos;
    background-color: $color-beige;
    text-align: center;
  }