@use "variables" as *;

@media (min-width: 992px) {

  
  .container {
    max-width: 820px !important;
  }

  
  h2 {
    font-size: 22px !important;
  }

  p {
    font-size: 14px !important;
  }

  #carouselCabanas,
  #carouselDeptos {
    max-width: 320px !important;
    margin: auto;
  }

  .btn {
    font-size: 14px !important;
    padding: 8px 16px !important;
  }

  section {
    padding: 15px !important;
  }
}

@media (max-width: 576px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }
}
