@use "variables" as *;

.reservas-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.reservas-section h2,
.reservas-section h4 {
    color: $color-marron;
    font-family: $font-titulos;
}

.reservas-section .btn {
    font-size: 20px;
    padding: 12px 25px;
    border-radius: $radius-general;
}

.reservas-section p {
    font-family: $font-textos;
    font-size: $font-size-parrafo;
    margin-top: 10px;

}