@use "variables" as *;

.servicios-section {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

servicios-cabaña {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;

}

.servicios-cabaña .card {
    background-color: $color-beige;
    padding: 20px;
    border-radius: $radius-general;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.servicios-cabaña h3 {
    color: $color-marron;
    font-family: $font-titulos;
    text-align: center;
    margin-bottom: 10px;
}

.servicios-cabaña ul {
    list-style: none;
    padding: 0;
}
.servicios-cabaña li {
    font-family: $font-textos;
    font-size: $font-size-parrafo;
    padding: 5px 0;
}