@use "variables" as *;

.ubicacion-section {
    padding: 20px;
}

.ubicacion-section h2 {
    color: $color-marron;
    font-family: $font-titulos;
    margin-bottom: 10px;
}

.ubicacion-section p {
    font-family: $font-textos;
    font-size: $font-size-parrafo;
    margin-bottom: 15px;

}

.ubicacion-section iframe {
    border-radius: $radius-general;
}