
$color-marron: #4b2e2e;
$color-beige: #fbe3d3;
$color-fondo: #d2b48c;
$color-footer1: #fddb92;
$color-footer2: #d1fdff;
$color-subtitulo: black;

/*colores gandiente*/
$gradiente-dorado: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);

$font-titulos: "Algerian", sans-serif;
$font-textos: "Poppins", sans-serif;

$font-size-titulo: 32px;
$font-size-parrafo: 16px;

$padding-general: 15px;

$radius-general: 10px; 