@use "variables" as *;

.whatsapp-float {
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
