*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1{
    color: #4b2e2e;
    background-color:#fbe3d3;
    padding: 20px;
    text-align:center;
    font-family:"Algerian", sans-serif;

}

header p{ 
    color: black;
    padding: 20px;
    text-align:initial;
    font-family:fantasy
}

main section h2 {
    color:  #4b2e2e;
    font-family:"Algerian", sans-serif;
    padding: 20px;
    text-align:center;
    
    
  }

  main section article img {
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    height: auto;
    }
  
  video{
     width: 50%;
      max-width: 800px;
      height: auto;
      border-radius: 10px;
      display: block;
      aspect-ratio: 21 / 9;
      padding: 40px;
      
  }

header {
  position: relative;
  z-index: 1;
}

 h3{
    color:black;
    padding: 20px;
    font-family:"Algerian", sans-serif;
    background-color:#fbe3d3;
    
 }
.subtitulo{
    color:black;
    padding: 20px;
    font-family:"Algerian", sans-serif;
    }

footer{
    color: #5d3a00;
    text-align:right;
    margin: 80px;
    border-radius:800px;
    width: 300px;
    font-size: 40px;
    font-family:"Algerian", sans-serif;
}
ul a{
    text-decoration: none;
    color: black;
    font-family:monospace

}

body{
    background-color:#d2b48c
}
.boton-naty{
    color: #5d3a00;
    margin: 10px;
    width: 20px;
    font-size: 15px;
   text-align:center;
   }
   .titulo-conoceme{
    color:  #4b2e2e;
    font-family:"Algerian", sans-serif;
    padding: 20px;
    text-align:center;
   }
   
