*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1{
    color: #4b2e2e;
    background-color:#fbe3d3;
    padding: 20px;
    text-align:center;
    font-family:"Algerian", sans-serif;

}

header p{ 
    color: black;
    padding: 20px;
    text-align:initial;
    font-family:fantasy
}

main section h2 {
    color:  #4b2e2e;
    font-family:"Algerian", sans-serif;
    padding: 20px;
    text-align:center;
    
    
  }

  main section article img {
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    height: auto;
    }
  
  video{
     width: 50%;
      max-width: 800px;
      height: auto;
      border-radius: 10px;
      display: block;
      aspect-ratio: 21 / 9;
      padding: 40px;
      
  }

header {
  position: relative;
  z-index: 1;
}

 h3{
    color:black;
    padding: 20px;
    font-family:"Algerian", sans-serif;
    background-color:#fbe3d3;
    
 }

.subtitulo{
    color:black;
    padding: 20px;
    font-family:"Algerian", sans-serif;
    }

footer{
    color: #5d3a00;
    text-align: center;
    margin: 40px auto;
    font-size: 32px;
    font-family: "Algerian", sans-serif;
    max-width: 600px;
   
}
ul a{
    text-decoration: none;
    color: black;
    font-family:monospace;
}

body{
    background-color:#d2b48c
}
.boton-naty{
    display: inline-block;
    background-color: #f4c784; 
    color: #4b3f2f; 
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
   }
   
   .boton-naty:hover{
    background-color: #e8b76a;
    transform: scale(1.05);
    cursor: pointer;
}

    .titulo-conoceme {
    color:  #4b2e2e;
    font-family:"Algerian", sans-serif;
    padding: 20px;
    text-align:center;
   }
   
#carouselCabanas,
#carouselDeptos{
  max-width: 450px;
  margin: auto;
}

/* Fondo suave tipo hotel */
section{
  background: #f8f9fa;
  padding: 30px;
  border-radius: 15px;
}